.searchFormPage {
	background: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
	/*font-size: 0;*/
}


.form-header {
	display: inline-flex;
	margin-bottom: 25px;
	margin-top: 8px;
}

.form-header__link {
	font-size: 16px;
	margin-right: 18px;
	color: #000 !important;
	font-weight: 500;
	text-decoration: none !important;
	position: relative;
	/*padding-bottom: 9px;*/
	transition: all 0.3s;
}

.form-header__link.active:before {
	width: 100%;
}

.form-header__link:before {
	content: "";
	width: 0%;
	height: 3px;
	background: #337ab7;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	transform: translateY(9px);
	pointer-events: none;
}

.form-header__link:last-child {
	margin-right: 0;
}

.form-header__link:hover {
	color: #337ab7 !important;
}


.active {}


/*===========================*/

.searchFormPage .form-ponel {
	display: inline-flex;
	width: 100%;
	font-size: 0;
	margin-bottom: 6px;
}

.form-ponel__button {
	width: 40px;
	flex: 0 0 40px;
	margin-right: 7px;
	border-radius: 7px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: none;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;

}

.searchFormPage .dropdown {
	display: inline-block;
}

.searchFormPage .dropdown .dropdown-menu {
	transform: translateY(8px);
	transition: all 0.3s;
	display: block;
	opacity: 0;
	pointer-events: none;
}

.searchFormPage .dropdown:hover .dropdown-menu {
	opacity: 0;
	pointer-events: none;
}

.searchFormPage .dropdown.open .dropdown-menu {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(2px);
}

.searchFormPage .dropdown.open .dropdown-toggle {
	border: 1px solid #337ab7;
}

.searchFormPage .offerTypeButtons .dropdown.open .dropdown-toggle>i,
.searchFormPage .categoryButtons .dropdown.open .dropdown-toggle>i {
	transform: translateY(-50%) rotate(180deg);
	opacity: 1;
	top: 48%;
}


/*============================*/

.searchFormPage .offerTypeButtons,
.searchFormPage .categoryButtons {
	font-size: 0;
}

.searchFormPage .offerTypeButtons .dropdown-toggle,
.searchFormPage .categoryButtons .dropdown-toggle {
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	cursor: pointer;
	/*padding-left: 15px;
	padding-right: 15px;*/
	position: relative;
	width: 112px;
	border-radius: 7px 0 0 7px;
	transition: all 0.3s;
}

.searchFormPage .categoryButtons .dropdown-toggle {

	border-radius: 0 7px 7px 0;
}

.searchFormPage .categoryButtons .dropdown:last-child {
	margin-left: 7px;
}

.searchFormPage .categoryButtons .dropdown:last-child .dropdown-toggle {
	border-radius: 6px;
	width: 195px;
}

.searchFormPage .offerTypeButtons .dropdown-toggle label,
.searchFormPage .categoryButtons .dropdown-toggle label {
	/*position: absolute;
	left: 0;
	top: 0;*/
	width: 100%;
	height: 100%;
	background: none;
	border: 0;
	padding-left: 12px;
	padding-right: 15px;
	text-align: left;

	display: flex;
	align-items: center;
	font-size: 13.5px;
	font-weight: 600;
	color: #444;
	box-shadow: none;
}

.searchFormPage .offerTypeButtons .dropdown-toggle label input,
.searchFormPage .categoryButtons .dropdown-toggle label input {
	display: none;
	max-width: 0;
	max-height: 0;
}

.searchFormPage .offerTypeButtons .dropdown-toggle>i,
.searchFormPage .categoryButtons .dropdown-toggle>i {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	color: #333;
	opacity: 0.6;
	transition: all 0.3s;
}

.searchFormPage .caret {}

.searchFormPage .offerTypeButtons .dropdown-menu,
.searchFormPage .categoryButtons .dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.24);
	min-width: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.searchFormPage .offerTypeButtons .dropdown-menu label,
.searchFormPage .categoryButtons .dropdown-menu label {
	width: 100%;
	text-align: left;
	background: none;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	transition: all 0.3s;
	text-shadow: none;
	font-weight: 600;
}


.searchFormPage .offerTypeButtons .dropdown-menu label:hover,
.searchFormPage .categoryButtons .dropdown-menu label:hover {
	background: rgba(51, 122, 184, 0.3);
	/*color: #fff;*/
}


.searchFormPage .offerTypeButtons .dropdown-menu label input,
.searchFormPage .categoryButtons .dropdown-menu label input {
	display: none;
	max-width: 0;
	max-height: 0;
}

@media (max-width: 767px) {
	body {
		display: none;
	}
}